.grid-container{
    display: grid;
    grid-template-columns: 50% 20%;
    margin: 30px;
    padding: 5px;
}
.pimg{
    width: 130px;
    border-radius: 50%;
    border: 2px solid;
}
.profilepic{
    padding: 40px;
    width: 130px;

}