body{
background-color: coral;
}

h1{
    color: white;
}   
table, th, td {
    padding: 3px   ;
    border:2px solid rgb(14, 13, 13);
    border-collapse: collapse;

  }

.centre{
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: medium;
 text-align: center;   
}
table.center {
    margin-left: auto; 
    margin-right: auto;
  }
.myimg{
    width: 200px;
    height: 120px;
}
.myfont{

    font-style: italic;

}
.emptycircle{
    list-style-type: circle;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}
.navbar li{
    float: left;
    padding: 10px;
    background-color: white;
    text-decoration:  dotted;

    
}
.navbar li a:hover{
    background-color:coral ;
}
